Repository seanburkes/lightning-fluency: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-format
        name: Backend format check (ktfmt)
        entry: bash -c 'cd backend && ./gradlew ktfmtCheck --no-daemon'
        language: system
        files: '\.kts?$'
        pass_filenames: false

      - id: backend-lint
        name: Backend lint (ktlint)
        entry: bash -c 'cd backend && ./gradlew ktlintCheck --no-daemon'
        language: system
        files: '\.kts?$'
        pass_filenames: false

      - id: frontend-format
        name: Frontend format check (Prettier)
        entry: bash -c 'cd frontend && npx prettier --check .'
        language: system
        files: '^frontend/'
        pass_filenames: false

      - id: frontend-lint
        name: Frontend lint (ESLint)
        entry: bash -c 'cd frontend && npx eslint .'
        language: system
        files: '^frontend/'
        pass_filenames: false

feat(backend): initialize Kotlin/Ktor backend
  backend/.editorconfig
  backend/Dockerfile
  backend/build.gradle.kts
  backend/gradle.properties
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle.kts
  backend/src/main/kotlin/com/lute/Application.kt
  backend/src/main/resources/logback.xml
  backend/src/test/kotlin/com/lute/ApplicationTest.kt
Due: backend-format, backend-lint

feat(frontend): initialize SvelteKit frontend with Skeleton UI
  frontend/.gitignore
  frontend/.npmrc
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.js
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/lib/assets/favicon.svg
  frontend/src/lib/index.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/static/robots.txt
  frontend/svelte.config.js
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

feat: add Docker Compose orchestration
  docker-compose.yml
Due: none

docs: add project documentation
  README.md
  docs/architecture.md
Due: none

security(docker): harden container security
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend-format, frontend-lint

refactor(backend): implement clean architecture
  backend/src/main/kotlin/com/lute/Application.kt
  backend/src/main/kotlin/com/lute/application/HealthService.kt
  backend/src/main/kotlin/com/lute/application/HealthServiceImpl.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/main/kotlin/com/lute/domain/HealthResponse.kt
  backend/src/main/kotlin/com/lute/presentation/HealthRoute.kt
Due: backend-format, backend-lint

feat(frontend): add architecture scaffolding
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/index.ts
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/settings.ts
  frontend/src/lib/types/index.ts
  frontend/src/routes/+layout.svelte
  frontend/static/favicon.svg
Due: frontend-format, frontend-lint

docs: rebrand project to Lightning Fluency
  README.md
  backend/build.gradle.kts
  docs/architecture.md
  frontend/package.json
Due: backend-format, backend-lint, frontend-format, frontend-lint

docs: add hierarchical AGENTS.md knowledge base
  AGENTS.md
  backend/AGENTS.md
  frontend/.prettierignore
  frontend/AGENTS.md
Due: frontend-format, frontend-lint

fix(docker): use fully qualified image names for Podman compatibility
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend-format, frontend-lint

feat(db): add DatabaseFactory with HikariCP connection pooling
  backend/.editorconfig
  backend/build.gradle.kts
  backend/src/main/kotlin/com/lute/db/DatabaseFactory.kt
  backend/src/test/kotlin/com/lute/db/DatabaseFactoryTest.kt
Due: backend-format, backend-lint

feat(db): add LanguagesTable with Exposed ORM
  backend/src/main/kotlin/com/lute/db/tables/LanguagesTable.kt
  backend/src/test/kotlin/com/lute/db/tables/LanguagesTableTest.kt
Due: backend-format, backend-lint

feat(db): add core tables (Books, Texts, Words, Statuses)
  backend/src/main/kotlin/com/lute/db/tables/BooksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/StatusesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TextsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsTable.kt
  backend/src/test/kotlin/com/lute/db/tables/CoreTablesTest.kt
Due: backend-format, backend-lint

feat(db): add tag and relationship tables
  backend/src/main/kotlin/com/lute/db/tables/BookTagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/SentencesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/Tags2Table.kt
  backend/src/main/kotlin/com/lute/db/tables/TagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordParentsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordTagsTable.kt
  backend/src/test/kotlin/com/lute/db/tables/TagAndRelationshipTablesTest.kt
Due: backend-format, backend-lint

feat(db): add supporting tables
  backend/src/main/kotlin/com/lute/db/tables/BookStatsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/LanguageDictsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/MigrationsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/SettingsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/SrsExportSpecsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TextBookmarksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordFlashMessagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordImagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsReadTable.kt
  backend/src/test/kotlin/com/lute/db/tables/SupportingTablesTest.kt
Due: backend-format, backend-lint

feat(db): add Tables registry and update task progress
  backend/src/main/kotlin/com/lute/db/tables/Tables.kt
  openspec/changes/lute-v4-database-layer/tasks.md
Due: backend-format, backend-lint

feat(db): add indexes to tables
  backend/src/main/kotlin/com/lute/db/tables/BooksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/LanguagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsTable.kt
Due: backend-format, backend-lint

perf(db): add critical indexes and default values
  backend/src/main/kotlin/com/lute/db/tables/BooksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TextsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsTable.kt
Due: backend-format, backend-lint

feat(domain): add domain models and Exposed-to-domain mappers
  backend/src/main/kotlin/com/lute/db/Mappers.kt
  backend/src/main/kotlin/com/lute/domain/Book.kt
  backend/src/main/kotlin/com/lute/domain/BookStats.kt
  backend/src/main/kotlin/com/lute/domain/Language.kt
  backend/src/main/kotlin/com/lute/domain/Setting.kt
  backend/src/main/kotlin/com/lute/domain/Status.kt
  backend/src/main/kotlin/com/lute/domain/Tag.kt
  backend/src/main/kotlin/com/lute/domain/Term.kt
  backend/src/main/kotlin/com/lute/domain/Text.kt
Due: backend-format, backend-lint

feat(db): add LanguageRepository with full CRUD operations
  REWRITE.md
  backend/src/main/kotlin/com/lute/db/repositories/LanguageRepository.kt
  backend/src/test/kotlin/com/lute/db/DatabaseTestBase.kt
  backend/src/test/kotlin/com/lute/db/repositories/LanguageRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add TermRepository with CRUD, filtering, and auto-textLC
  backend/src/main/kotlin/com/lute/db/repositories/TermRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/TermRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add Book and Text repositories with full CRUD
  backend/src/main/kotlin/com/lute/db/repositories/BookRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/TextRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/BookRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TextRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add TagRepository with CRUD and term-tag associations
  backend/src/main/kotlin/com/lute/db/repositories/TagRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/TagRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add StatusRepository with findAll, findById, and save
  backend/src/main/kotlin/com/lute/db/repositories/StatusRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/StatusRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add SettingsRepository with get/set upsert and getAll
  backend/src/main/kotlin/com/lute/db/repositories/SettingsRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/SettingsRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add BookStatsRepository with upsert and calculateAndSave
  backend/src/main/kotlin/com/lute/db/repositories/BookStatsRepository.kt
  backend/src/test/kotlin/com/lute/db/repositories/BookStatsRepositoryTest.kt
Due: backend-format, backend-lint

refactor(db): expose Database instance from DatabaseFactory
  backend/src/main/kotlin/com/lute/db/DatabaseFactory.kt
Due: backend-format, backend-lint

feat(db): add V1 initial schema migration with seed data
  backend/src/main/resources/db/migrations/V1__initial_schema.sql
Due: none

feat(db): add repeatable triggers for term status synchronization
  backend/src/main/resources/db/repeatable/triggers.sql
Due: none

feat(db): add MigrationManager with SQL statement splitting and tests
  backend/src/main/kotlin/com/lute/db/migrations/MigrationManager.kt
  backend/src/test/kotlin/com/lute/db/migrations/MigrationManagerTest.kt
Due: backend-format, backend-lint

feat(db): wire DI and initialize database with migrations on startup
  backend/src/main/kotlin/com/lute/Application.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/test/kotlin/com/lute/ApplicationTest.kt
Due: backend-format, backend-lint

test(db): add integration tests for FK constraints, trigger sync, and end-to-end flow
  backend/src/test/kotlin/com/lute/db/DatabaseIntegrationTest.kt
Due: backend-format, backend-lint

refactor(db): change domain model IDs from Int to Long for overflow safety
  backend/src/main/kotlin/com/lute/domain/Book.kt
  backend/src/main/kotlin/com/lute/domain/BookStats.kt
  backend/src/main/kotlin/com/lute/domain/Language.kt
  backend/src/main/kotlin/com/lute/domain/Status.kt
  backend/src/main/kotlin/com/lute/domain/Tag.kt
  backend/src/main/kotlin/com/lute/domain/Term.kt
  backend/src/main/kotlin/com/lute/domain/Text.kt
  openspec/changes/lute-v4-database-layer/tasks.md
Due: backend-format, backend-lint

refactor(db): update table definitions with Long IDs, indexes, and naming fixes
  backend/src/main/kotlin/com/lute/db/tables/BookStatsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/BookTagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/BooksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/LanguageDictsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/LanguagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/MigrationsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/SentencesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/SrsExportSpecsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/StatusesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/Tags2Table.kt
  backend/src/main/kotlin/com/lute/db/tables/TagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TextBookmarksTable.kt
  backend/src/main/kotlin/com/lute/db/tables/TextsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordFlashMessagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordImagesTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordParentsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordTagsTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsReadTable.kt
  backend/src/main/kotlin/com/lute/db/tables/WordsTable.kt
Due: backend-format, backend-lint

refactor(db): update repositories with Long IDs and efficient upsert
  backend/src/main/kotlin/com/lute/db/Mappers.kt
  backend/src/main/kotlin/com/lute/db/repositories/BookRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/BookStatsRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/LanguageRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/StatusRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/TagRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/TermRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/TextRepository.kt
Due: backend-format, backend-lint

fix(db): add error handling, checksums, and idempotent seed data to migrations
  backend/src/main/kotlin/com/lute/db/migrations/MigrationManager.kt
  backend/src/main/resources/db/migrations/V1__initial_schema.sql
Due: backend-format, backend-lint

fix(db): add graceful shutdown and init error handling to Application
  backend/src/main/kotlin/com/lute/Application.kt
Due: backend-format, backend-lint

test(db): update repository tests for Long IDs and Double precision
  backend/src/test/kotlin/com/lute/db/repositories/BookRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/BookStatsRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TagRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TermRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TextRepositoryTest.kt
Due: backend-format, backend-lint

feat(db): add pagination support to BookRepository and LanguageRepository
  backend/src/main/kotlin/com/lute/db/repositories/BookRepository.kt
  backend/src/main/kotlin/com/lute/db/repositories/LanguageRepository.kt
Due: backend-format, backend-lint

refactor(db): add repository interfaces and batch operations
  backend/src/main/kotlin/com/lute/db/repositories/BookRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/BookStatsRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/LanguageRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryInterfaces.kt
  backend/src/main/kotlin/com/lute/db/repositories/SettingsRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/StatusRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/TagRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/TextRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/test/kotlin/com/lute/db/repositories/BookRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/BookStatsRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/LanguageRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/SettingsRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/StatusRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TagRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TermRepositoryTest.kt
  backend/src/test/kotlin/com/lute/db/repositories/TextRepositoryTest.kt
Due: backend-format, backend-lint
