Repository seanburkes/lightning-fluency: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  name: Backend format check (ktfmt)
  entry: bash -c 'cd backend && ./gradlew ktfmtCheck --no-daemon'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend lint (ktlint)
  entry: bash -c 'cd backend && ./gradlew ktlintCheck --no-daemon'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend format check (Prettier)
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint (ESLint)
  entry: bash -c 'cd frontend && npx eslint .'
  language: system
  pass_filenames: false

ci: add E2E tests and Storybook build to CI pipeline
  .github/workflows/ci.yml
Due: none

fix(reading): remove unbounded termCache, verify previous page exists
  backend/src/main/kotlin/com/lute/application/ReadingServiceImpl.kt
  backend/src/test/kotlin/com/lute/services/ReadingServiceTest.kt
Due: backend-format, backend-lint

fix(routes): remove broad exception catching in TermRoutes
  backend/src/main/kotlin/com/lute/presentation/TermRoutes.kt
Due: backend-format, backend-lint

fix(ci): run E2E tests only on Chromium in CI
  .github/workflows/ci.yml
Due: none

feat(popup): add PopupService for term popup data retrieval
  backend/src/main/kotlin/com/lute/application/PopupService.kt
  backend/src/main/kotlin/com/lute/application/PopupServiceImpl.kt
  backend/src/main/kotlin/com/lute/dtos/PopupDto.kt
Due: backend-format, backend-lint

test(popup): add PopupServiceTest with comprehensive coverage
  backend/src/test/kotlin/com/lute/services/PopupServiceTest.kt
Due: backend-format, backend-lint

feat(popup): add GET /api/read/{bookId}/popup endpoint
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/main/kotlin/com/lute/presentation/ReadingRoutes.kt
  backend/src/test/kotlin/com/lute/routes/ReadingRoutesTest.kt
Due: backend-format, backend-lint

refactor(backend): add repository require() extension functions
  backend/src/main/kotlin/com/lute/application/PopupServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/ReadingServiceImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryExtensions.kt
Due: backend-format, backend-lint

feat(frontend): add keyboard, navigation, and termPopup stores
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/keyboard.ts
  frontend/src/lib/stores/navigation.ts
  frontend/src/lib/stores/termPopup.ts
  frontend/src/lib/stores/utils.ts
Due: frontend-format, frontend-lint

refactor(frontend): migrate settings store to Svelte 5 runes
  frontend/src/lib/stores/settings.svelte.test.ts
  frontend/src/lib/stores/settings.svelte.ts
  frontend/src/lib/stores/settings.test.ts
  frontend/src/lib/stores/settings.ts
Due: frontend-format, frontend-lint

feat(frontend): expand API client with CRUD methods
  frontend/src/lib/api/client.ts
Due: frontend-format, frontend-lint

feat(frontend): add HelpModal component for keyboard shortcuts
  frontend/src/lib/components/HelpModal.svelte
  frontend/src/lib/components/index.ts
Due: frontend-format, frontend-lint

feat(frontend): integrate keyboard shortcuts in layout and update Header
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/Header.svelte.test.ts
  frontend/src/routes/+layout.svelte
Due: frontend-format, frontend-lint

refactor(backend): consolidate require() extension for entity lookups
  backend/src/main/kotlin/com/lute/application/BookCrudServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/BookPageServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/BookTagServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/DictionaryServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/LanguageCrudServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/PopupServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/ReadingServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/RepositoryExtensions.kt
  backend/src/main/kotlin/com/lute/application/TermCrudServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/TermCsvServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/TermRelationshipServiceImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryExtensions.kt
Due: backend-format, backend-lint

chore(backend): disable ktlint consecutive blank lines rule
  backend/.editorconfig
Due: none

perf(backend): fix N+1 query in reading service
  backend/src/main/kotlin/com/lute/application/ReadingServiceImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryInterfaces.kt
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
  backend/src/test/kotlin/com/lute/services/ReadingServiceTest.kt
Due: backend-format, backend-lint

refactor(backend): extract sentence parsing logic into SentenceParser service
  backend/src/main/kotlin/com/lute/application/PopupServiceImpl.kt
  backend/src/main/kotlin/com/lute/application/SentenceParser.kt
  backend/src/main/kotlin/com/lute/application/SentenceParserImpl.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/test/kotlin/com/lute/services/PopupServiceTest.kt
Due: backend-format, backend-lint

feat(audio): add audio player support for books
  backend/src/main/kotlin/com/lute/application/AudioService.kt
  backend/src/main/kotlin/com/lute/application/AudioServiceImpl.kt
  backend/src/main/kotlin/com/lute/presentation/BookRoutes.kt
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/AudioPlayer.svelte
  frontend/src/lib/components/index.ts
Due: backend-format, backend-lint, frontend-format, frontend-lint

refactor(frontend): convert stores to Svelte 5 runes pattern
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/keyboard.svelte.ts
  frontend/src/lib/stores/keyboard.ts
  frontend/src/lib/stores/navigation.svelte.ts
  frontend/src/lib/stores/navigation.ts
  frontend/src/lib/stores/termPopup.svelte.ts
  frontend/src/lib/stores/termPopup.ts
Due: frontend-format, frontend-lint

fix(frontend): update HelpModal to use new store syntax
  frontend/src/lib/components/HelpModal.svelte
Due: frontend-format, frontend-lint

refactor(backend): extract insertBook method in BookRepositoryImpl
  backend/src/main/kotlin/com/lute/db/repositories/BookRepositoryImpl.kt
Due: backend-format, backend-lint

refactor(backend): extract insertTerm method in TermRepositoryImpl
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
Due: backend-format, backend-lint

feat(backend): add countByStatus to TermRepository
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryInterfaces.kt
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
Due: backend-format, backend-lint

feat(backend): add stats endpoint for term statistics
  backend/src/main/kotlin/com/lute/Application.kt
  backend/src/main/kotlin/com/lute/application/StatsService.kt
  backend/src/main/kotlin/com/lute/application/StatsServiceImpl.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/main/kotlin/com/lute/dtos/StatsDto.kt
  backend/src/main/kotlin/com/lute/presentation/StatsRoute.kt
  backend/src/test/kotlin/com/lute/routes/StatsRoutesTest.kt
Due: backend-format, backend-lint

perf(backend): optimize getParentCounts with SQL groupBy
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
Due: backend-format, backend-lint

feat(backend): add Japanese parser with Kuromoji morphological analyzer
  backend/build.gradle.kts
  backend/src/main/kotlin/com/lute/parse/JapaneseParser.kt
  backend/src/main/kotlin/com/lute/parse/ParserFactory.kt
  backend/src/test/kotlin/com/lute/parse/JapaneseParserTest.kt
Due: backend-format, backend-lint

perf(backend): fix N+1 queries in bulk term operations
  backend/src/main/kotlin/com/lute/application/TermBulkServiceImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/RepositoryInterfaces.kt
  backend/src/main/kotlin/com/lute/db/repositories/TagRepositoryImpl.kt
  backend/src/main/kotlin/com/lute/db/repositories/TermRepositoryImpl.kt
  backend/src/test/kotlin/com/lute/services/LanguageServiceTest.kt
Due: backend-format, backend-lint

feat(parser): add furigana format support to Japanese parser
  backend/src/main/kotlin/com/lute/application/ParserService.kt
  backend/src/main/kotlin/com/lute/application/ParserServiceImpl.kt
  backend/src/main/kotlin/com/lute/parse/JapaneseParser.kt
  backend/src/main/kotlin/com/lute/parse/Parser.kt
  backend/src/main/kotlin/com/lute/parse/SpaceDelimitedParser.kt
  backend/src/test/kotlin/com/lute/parse/JapaneseParserTest.kt
Due: backend-format, backend-lint

feat(pwa): add PWA support with offline capabilities and install prompt
  frontend/src/lib/components/InstallPrompt.svelte
  frontend/src/lib/components/SyncIndicator.svelte
  frontend/src/lib/pwa/index.ts
  frontend/src/lib/pwa/offline-queue.ts
  frontend/src/lib/pwa/sync.ts
  frontend/src/lib/pwa/term-service.ts
  frontend/src/lib/stores/syncStatus.svelte.ts
  frontend/src/service-worker.ts
  frontend/static/favicon-192.png
  frontend/static/favicon-512.png
Due: frontend-format, frontend-lint

chore(frontend): configure PWA support and update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/lib/components/index.ts
  frontend/src/lib/stores/index.ts
  frontend/src/routes/+layout.svelte
  frontend/svelte.config.js
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

feat(settings): add backend settings API endpoints
  backend/src/main/kotlin/com/lute/Application.kt
  backend/src/main/kotlin/com/lute/di/ServiceLocator.kt
  backend/src/main/kotlin/com/lute/presentation/HotkeyRoute.kt
  backend/src/main/kotlin/com/lute/presentation/SettingsRoute.kt
  backend/src/main/kotlin/com/lute/presentation/ThemeRoute.kt
Due: backend-format, backend-lint

feat(settings): add frontend settings store and API client
  frontend/src/lib/api/client.ts
  frontend/src/lib/stores/settings.svelte.ts
Due: frontend-format, frontend-lint

feat(settings): add settings pages UI
  frontend/src/routes/settings/+layout.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/anki/+page.svelte
  frontend/src/routes/settings/backup/+page.svelte
  frontend/src/routes/settings/hotkeys/+page.svelte
  frontend/src/routes/settings/reading/+page.svelte
  frontend/src/routes/settings/theme/+page.svelte
Due: frontend-format, frontend-lint

feat(settings): integrate settings into app layout
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-format, frontend-lint

Path conditions:
  backend-format: any of: \.kts?$
  backend-lint: any of: \.kts?$
  frontend-format: any of: ^frontend/
  frontend-lint: any of: ^frontend/
